{% extends 'base.html' %}

{% block title %}Officials{% endblock %}

{% block content %}
  <h1>Officials</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Identification Number</th>
      </tr>
    </thead>
    <tbody>
      {% for official in officials %}
        <tr>
          <td>{{ official.name }}</td>
          <td>{{ official.identification_number }}</td>
          <td>
            <a href="{{ url_for('admin.edit_official', id=official.id) }}">Edit</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{ url_for('admin.new_official') }}">New Official</a>
{% endblock %}